[phases.setup]
nixPkgs = ["python311", "pip", "ffmpeg"]

[phases.install]
cmds = [
  "pip install --upgrade pip setuptools wheel",
  "pip install -r requirements.txt"
]

[start]
cmd = "python -m app.main"

